/* *:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

body {
  background: #33333D;
  margin: 0px;
  margin-top: -1em;
}

p {
  pointer-events: none;
}

nav {
  background-color: #000000;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

button,
#login-form-submit,
input[type="text"],
select {
  cursor: pointer;
}

#otterOne {
  color: #01B97E;
  font-size: 5em;
}

.login-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main-page-wrapper {
  height: 100vh;
}

#login-form {
  text-align: center;
  border: 100em solid #33333D;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

#login-form-submit {
  margin-top: 2em;
}

#searchButton {
  margin-top: 3em;
  width: 100em;
  margin-right: 10em;
}

#login-form-submit:hover {
  color: #01B97E;
  transform: scale(1, 1);
  content: '';
  z-index: 1;
  transition: all 0.2s;
  border-top: 1px solid #01B97E;
  border-bottom: 1px solid #01B97E;
}

#searchButton:hover {
  transform: scale(1.2, 1.2)
}

#login-form-submit:hover {
  background-color: #33333D;
}

#searchButton:hover{
  background-color: #000000;
}

#login-form-submit:hover::after,
#searchButton:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

input[type="text"], textarea,
input[type="password"], textarea,
#login-form-submit,
#searchButton {
  font-family: 'Roboto Condensed', sans-serif;
  background-color : #000000;
  color: #FFFFFF;
  border: none;
  width: 20em;
  height: 2.2em;
}

#otterTwo {
  color: #01B97E;
  font-size: 4em;
}

select {
  font-family: 'Roboto Condensed', sans-serif;
  background-color : #000000;
  color: #FFFFFF;
  border: none;
  width: 20em;
  height: 2.2em;
}

::placeholder {
  color: #FFFFFF;
  padding-left: 8px;
  font-family: 'Roboto Condensed', sans-serif;
}

.display-date-search,
.display-room-type-search {
  cursor: pointer;
}

.modal,
.success-modal,
.room-modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 10em;
  left: 0;
  top: 0;
}

.modal-content,
.success-modal-content {
  background-color: #FFFBE6;
  margin: auto;
  padding: 20px;
  width: 80%;
  color: #356859;
}

.display-room-object {
  padding-top: 20em;
  pointer-events: none;
}

.close,
.success-close,
.room-close {
  color: #aaaaaa;
  float: right;
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  z-index: 100;
}

.close:hover,
.close:focus,
.success-close:hover,
.success-close:focus
.room-close:hover,
.room-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
